#acuity_text {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 150px;
    font-size: 1.5em;
    font-family: "Craie";
    color: white;
}

#acuity {
    position: absolute;
    opacity:1;
    margin: auto;
    border: white dotted 1px;
}






