@font-face {
    font-family: "Craie";
    src: url("../fonts/BaconKingdom.ttf");
}



body {
    background-image: url("../img/blackboard.jpg");
    background-size: cover;
}

footer {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-image: url('../img/Bois.jpg');
    font-size: 1.5em;
    font-family: "Craie";
    color: white;
}

#container {
    position: absolute;
    margin: auto;
    height: 40vh;
    width: 40vw;
    /*position: absolute;
    height: calc(100% - 70px);
    width: 100%;
    background-color: white;
    overflow: hidden;
*/
}

#acuity_text {
    position: absolute;
    margin: auto;
    top: 4vh;
    left: 150px;
}

#acuity {
    position: absolute;
    opacity:1;
    /* width: 500px;
    height: 500px; */
    margin: auto;
    top: 4vh;
    left: 250px;
    right: 0;
    bottom: 0;
    border: white dotted 1px;
}



/*canvas {
    display: block;
    width: 700px !important;
    height: 500px !important;
}
*/

#sound {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100px;
    height: 70px;
}


#son_on {
    position: absolute;
    width: 100px;
    height: 70px;
}

#toggle {
    position: absolute;
    top: 25px;
    left: 110px;
    color: white;
}

#nav_container {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 600px;
    left: 50%;
    top: 25px;
}
